<html>
<head>
    <style type="text/css">
        body {
            text-align: center;
        }
        canvas {
            border: 1px solid #DEDEDE;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
        var colors;
        var ws = new WebSocket("ws://localhost:{{ port }}/ws");

        function getCanvas(w, h) {
            if ($("canvas").length === 0) {
                $("body").append('<canvas width="' + w + 'px" height="' + h + 'px">');
            }
            return $("canvas")[0];
        }

        function color(r, g, b) {
            return r.toString(16) + g.toString(16) + b.toString(16);
        }

        var processingFns = {
            "point": function(x, y) {
                var ctx = this.getContext("2d");
                ctx.fillRect(x, y, 1, 1);
            },

            "background": function(r, g, b) {
                var ctx = this.getContext("2d"),
                    prevFillStyle = ctx.fillStyle;
                ctx.fillStyle = color(r, g, b);
                ctx.fillRect(0, 0, this.width, this.height);
                ctx.fillStyle = prevFillStyle;
            },

            "fill": function(r, g, b) {
                var ctx = this.getContext("2d");
                ctx.fillStyle = color(r, g, b);
            }
        };

        ws.onmessage = function (evt) {
            var data = JSON.parse(evt.data),
                commands = data.commands,
                canvas = getCanvas(data.canvas.width, data.canvas.height),
                ctx = canvas.getContext("2d");

            for (var i = 0; i < commands.length; i++) {
                var command = commands[i];
                processingFns[command.name].apply(canvas, command.args);
            };
        };
    });
    </script>
</head>
<body>
</body>
</html>